:root {
  --web1-pink: #FA97C2;
  --web1-blue: #2FA0D5;
  --web1-green: #73C926;
}

$fontFamily: 'Changa One', cursive;

.web1-text-blue {
  color: var(--web1-blue);
}

#app-menu {
  a {
    font-weight: 700;
    display: block;
    padding: 0 1.25rem;
    color: black;
    font-family: 'Changa One', cursive;
    &.active {
      color: var(--web1-blue);
    }
  }

}

#form-search {
  i {
    color: var(--web1-green)
  }
  input {
    width: 8rem;
  }
}

#banner {
  background: url('../images/bg-banner.gif');
  > div {
    background: url('../images/logo_bg.png') left top no-repeat, url('../images/search_bg.png') right top no-repeat;
    padding: 5rem 0 2rem;
  }
  h1 {
    margin: 0 0 2rem;
  }
  a {
    background: var(--web1-pink);
    font-size: 2rem;
    font-family: $fontFamily;
    border-radius: 1rem;
  }
  .carousel-item {
    min-height: 17rem;
  }
  .carousel-indicators li {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    border: none;
    margin: 0 0.25rem;
    position: relative;
    &.active::after {
      content: '';
      position: absolute;
      width: 50%;
      height: 50%;
      border-radius: inherit;
      background: var(--web1-green);
      left: 0.3rem;
      top: 0.3rem;
    }
  }
}

.read-more{
  color: var(--web1-blue);
}

#about {
  background: var(--web1-pink);
  #formSignup {
    border-style: dashed !important;
    border-color: rgba($color: #000000, $alpha: 0.5) !important;
  }
}

#news {
  .date {
    background: var(--web1-green);
    width: 6rem;
    padding: 1.5 rem;
  }
}

footer {
  background: url('../images/bg-footer.gif');
}

#menu-footer {
  a {
    color: white;
    font-weight: bold;
    font-family: $fontFamily;
    display: block;
    padding: 0 2rem;
    &.active {
      color: var(--web1-pink)
    }
  }
}

#form-login {
  button[type='submit'] {
    background-color: var(--web1-blue);
    color: white;
  }
}

#banner-small {
  background: url('../images/bg-banner.gif');
  padding: 5px;
}

#testimonials {
  background: var(--web1-pink);
  .col {
    background: url('../images/quot.png') left top no-repeat;
    padding-left: 3rem;
  }
}

#about-ctn {
  h4 {
    color: black;
  }
}

#blog-cat {
  li {
    list-style-type: none;
    background: url('../images/marker1.png') left 0.25rem no-repeat;
    padding: 0 0 0.75rem 1.5rem;
  }
}